.login-bg {
  background: url('/login_bg.png') no-repeat center center fixed;
  background-size: cover;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.login-container {
  background-color: rgba(23, 23, 23, 0.7);
  padding: 40px;
  border-radius: 10px;
  width: 350px;
  color: white;
  text-align: left;
}

.login-container h2 {
  text-align: center;
  margin-bottom: 20px;
}

.login-container input[type="email"],
.login-container input[type="password"] {
  width: 100%;
  padding: 10px;
  margin-top: 5px;
  margin-bottom: 15px;
  border: none;
  border-radius: 5px;
}

.login-container button {
  width: 100%;
  background-color: #007b5e;
  color: white;
  padding: 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.error {
  color: #ffcccb;
  font-size: 0.9rem;
  margin-bottom: 10px;
  text-align: center;
}
